

  <div class="items-start space-y-4 mt-6 w-full">
    <div>
      <%= form.label :commenter, class: "sr-only" %>
    </div>
    <div>
      <%= form.label :body, class: "sr-only" %>
    </div>
    <div class="flex-grow"></div>
    <div class="flex justify-end">
    </div>
  </div>
<% end %>